#title {
  width: 100%;
}

img {
  display: inline-block;
  width: 200px;
}

h2 {
  text-align: end;
}

#menu {
  width: 100%;
  background-color: lightcoral;
}

.menu {
  display: inline-block;
  width: 33%;
  text-align: center;
  color: black;
  text-decoration: none;
}

header {
  padding: 10px 0;
  width: 100%;
}
main {
  margin: 10px;
  text-align: justify;
}

caption {
  margin: 7px;
  font-weight: bold;
}

table {
  margin: 20px;
  width: 60%;
  text-align: center;
  background-color: aqua;
}
